/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */

html {
    font-size: 100%;
}

footer i {
    font-size: 1.3em;
}

footer p {
    font-size: .8em;
}

.angle-up i {
    font-size: .9em;
}
/* HEADER */

header {
    height: 40px;
    background-color: #000000;
    font-size: .9em;
    position: relative;
}

header span {
    color: white;
    background-color: #4a4a4a;
    border-radius: 3px;
    padding: .2em;
    position: absolute;
}

.s-view {
    top: 5px;
    right: 30px;
}

.full-screen {
    top: 5px;
    right: 5px;
}

/* MAIN */

main {
    height: calc(100vh - 120px);
    overflow-y: auto;
    background-color: black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user {
    width: 200px;
    height: 150px;
    background-color: green;
    background-image: url(https://picsum.photos/246/146);
    margin: 5px;
    position: relative;
    color: white;
}

.user-name {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #4a4a4a;
    padding: .2em .2em 0 .2em;
    opacity: 0.8;
}

.user i {
    margin: 0 5px;
}


/* FOOTER */

footer {
    height: 80px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer i {
    margin-bottom: .3em;
}

/* LEFT NAV */

.left-nav {
    display: flex;
    color: white;
}

.mute {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stop-video {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
}

/* MAIN NAV */

.main-nav {
    display: flex;
    color: white;
}

.icon-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 .6em;
    justify-content: center;
}

.share {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-nav {
    background-color: blueviolet;
}